.post {
    margin-block: 5rem;
}

.post-header {
    display: grid;
    grid-template-areas:
        "time"
        "title"
        "category";
    padding-inline: 8px;
}

@scope (.post-header) {
    .post-title {
        font-size: 1.25rem;
        grid-area: title;
    }

    .categories {
        grid-area: category;
    }

    time {
        color: #333333;
        font-size: 14px;
        grid-area: time;
        text-align: right;
    }
}

@scope (.post) {
    .thumbnail {
        margin-block: 3rem;
    }
}

.post-body {
    padding-inline: 8px;
}

@scope (.post-body) {
    h2 {
        font-size: 1.75rem;
        margin-block: 2rem;
    }

    p {
        margin-block-end: 0.625rem;
    }
}