<!DOCTYPE html>
<html lang="{{ default .Site.Language.Lang .Site.Language.LanguageCode }}">
<head prefix="og: https://ogp.me/ns#">
    {{ partial "head.html" . }}
</head>
<body>
    <nav class="skip-link" aria-label="スキップリンク">
        <a href="#main">メインコンテンツまでスキップ</a>
    </nav>
    <header id="js-global-header" class="global-header" aria-label="ページヘッダー">
        {{ partial "header.html" . }}
    </header>
    <main id="main" class="main-contents" role="main">
        {{ block "main" . }}{{ end }}
    </main>
    <footer class="global-footer" aria-label="ページフッター">
        {{ partial "footer.html" . }}
    </footer>
</body>
</html>
