{{ define "main" }}
    <nav class="breadcrumb">
        <ol>
            <li><a href="{{ .Site.BaseURL }}">Home</a></li>
        </ol>
    </nav>
    <article class="post">
        <header class="post-header">
            <h1 id="post-title" class="post-title">{{ .Title }}</h1>
            {{ partial "terms.html" (dict "taxonomy" "categories" "page" .) }}

            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
            {{ $dateHuman := .Date | time.Format ":date_long" }}
            <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        </header>
        {{ with .Resources.GetMatch .Params.thumbnail }}
            <figure class="thumbnail">
                <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
            </figure>
        {{ end }}
        {{ if eq .Type "posts" }}
            {{ if .TableOfContents }}
                <div id="js-toc" class="toc">
                    <h2>目次</h2>
                    {{ .TableOfContents }}
                </div>
            {{ end }}
        {{ end }}
        <div class="post-body">
            {{ .Content }}
        </div>
        <footer class="post-footer">
            {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
        </footer>
    </article>
{{ end }}
