@layer object {
    .breadcrumb {
        display: flex;
        flex-wrap: wrap;
        font-size: 1rem;
        gap: 4px 8px;
        padding-inline: 8px;

        li {
            display: grid;

            &:not(:last-of-type) {
                align-items: center;
                column-gap: 8px;
                grid-template-columns: auto 1fr;
                position: relative;

                a {
                    display: block;
                }

                &::after {
                    content: ">";
                    display: block;
                }
            }

            &:last-of-type {
                display: block;
                padding-block: 4px;
                width: 100%;
            }
        }
    }
}