@layer layout {
    .global-footer {
        container-type: inline-size;
        padding-block-end: 1.5rem;
        padding-inline: 0.5rem;
        position: sticky;
        top: 100%;
    }

    .footer-contents {
        display: grid;
        padding-block: 1.5rem;
        row-gap: 1.5rem;
    }

    .footer-contents.top {
        grid-template-areas:
            "logo"
            "menu"
            "cta"
            "sns";
    }

    @scope (.footer-contents) {
        .site-logo {
            grid-area: logo;
            height: 48px;
            margin-inline: auto;
            width: 192px;
        }

        .cta {
            display: grid;
            grid-area: cta;
            margin-inline: auto;
            max-inline-size: 450px;
            row-gap: 0.75rem;
            width: 100%;

            .btn {
                background-color: #007b43;
                border: 1px solid;
                border-radius: calc(infinity * 1px);
                box-shadow: 0 4px 6px #999999;
                color: #ffffff;
                display: grid;
                justify-items: center;
                padding-block: 0.875rem;
                transition-duration: 0.3s;
                transition-property: box-shadow, translate;
                width: stretch;

                &:focus-visible {
                    box-shadow: 0 0 6px #999999;
                    outline: none;
                    translate: 0 0.25rem;
                }

                @media (any-hover: hover) {
                    &:hover {
                        box-shadow: 0 0 6px #999999;
                        translate: 0 0.25rem;
                    }
                }
            }
        }

        .social-links {
            grid-area: sns;
        }
    }

    @container (min-width: 750px) {
        .footer-contents {
            margin-inline: auto;
            padding-inline: 1rem;
        }

        .footer-contents.top {
            grid-template-areas:
                "logo cta"
                "menu cta"
                ". sns";
            grid-template-columns: auto 1fr;
            
            .social-links {
                justify-content: end;
            }
        }
    }

    @container (min-width: 1000px) {
        .footer-contents {
            max-inline-size: 1024px;
            padding-inline: 0;
        }

        .footer-contents.top {
            align-items: center;
            grid-template-areas:
                "logo menu cta"
                ". . sns";
            grid-template-columns: auto 1fr 1fr;
            justify-items: center;
        }
    }

    .footer-contents.bottom {
        border-top: 1px solid;
        font-size: 0.875rem;
    }

    .footer-menu {
        .menu {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            justify-content: center;

            .menu-item {
                white-space: nowrap;

                a {
                    display: block;
                    padding-block: 8px;

                    &:focus-visible {
                        outline: none;
                        text-decoration: underline;
                        text-underline-offset: 0.25em;
                    }

                    @media (any-hover: hover) {
                        &:hover {
                            text-decoration: underline;
                            text-underline-offset: 0.25em;
                        }
                    }
                }
            }
        }
    }

    .copyright {
        display: grid;
        justify-content: center;
        row-gap: 1.5rem;

        small {
            font-size: 0.875rem;
        }
    }
}